/*
Theme URI: http://suwwweb.com
Author: suwwweb
Author URI: http://suwwweb.com
Description: Este tema es creado a la medida, es un blog donde van cada uno de los conocimientos y experiencias aprendidas en todas mi vida.
Version: 0.1
License: Libre
License URI: http://suwwweb.com
Tags: Blog
Text Domain: Su wwweb
*/

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.margin{
  margin: auto;
  width: 85%;
}
.margin-header{
    margin: auto;
    width: 80%;
}
/*header*/
.header{
  position: absolute;
    z-index: 100;
    width: 100%;
}
.header-padre{
  font-family: 'Open Sans', sans-serif;
  background: black;
  font-size: 11px;
  padding: 1%;
  display: flex;
  align-items: center;
}
.header-sub{
  color: white;
  display: flex;
  justify-content: space-between;
}
.header-contacto{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.header-contacto li{
  margin-right: 50px;
  color: white;
  text-decoration: none;
}
.header-redes{
  list-style: none;
  display: flex;
}
.header-redes li a{
  text-decoration: none;
  color: white;
}
.telefono::before{
  font-family: 'fontawesome';
  content: '\f095';
  margin-right: 7px;
}
.aqui::before{
  font-family: 'fontawesome';
  content: '\f041';
  margin-right: 7px;
}
.mensaje::before{
  font-family: 'fontawesome';
  content: '\f003';
  margin-right: 7px;
}
.close::before{
  font-family: 'fontawesome';
  content: '\f2d3';
  font-size: 25px;
  color: #238741;
  text-decoration: none;
}
.close{
  text-decoration: none;
}
/*header*/

/*nav*/
.nav{
  background-color: rgba(189, 189, 193, 0.7);
  color: white;
}
.menu-header-container{
  list-style: none;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-header-container ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-page{
  background: white;
  color: black;
}
.nav-ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 1%;
  }
.nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav ul li a:hover{
  border: solid 1px #238741;
  padding: 1px 5px;
  color: #238741;
}
.nav-page-ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 1%;
  }
.nav-page ul li a{
  text-decoration: none;
  color: black;
}
.nav-page ul li a:hover{
  border: solid 1px #238741;
  padding: 1px 5px;
  color: #238741;
}
.active{
  border: solid 2px #238741;
  padding: 1px 5px;
  color: #238741;
  border-radius: 10px;
  }

.active:active{
  border: solid 2px #238741;
  padding: 1px 5px;
  color: #238741;
  border-radius: 10px;
  }
/*/nav*/
/*section-slider*/
.section-slider{
  width: 100%;
}
/*/section-slider*/

/*section-iluminarias*/
.section-iluminarias-diagramado{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-iluminarias-titulo{
  font-size: 32px;
  margin: 10px 0;
  font-weight: normal;
  color: #424040;
  flex-wrap: wrap;
}
.section-iluminarias-subtitulo{
  font-size: 14px;
  margin: 10px 0;
  font-weight: normal;
  color: #8b8b8b;
  font-style: italic;
}
.section-iluminarias-parrafo{
  font-size: 18px;
  margin: 10px 0 20px 0;
  font-weight: 100;
  color: #8b8b8b;
}
.section-iluminarias-productos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-iluminarias-productos-detalle{
  width: 210px;
  height: 210px;
  border: solid 1px #cccccc;
}
.section-nuestros-servicios-content{
  padding: 50px 0;
}
.section-iluminarias{
  margin-bottom: 40px;
  background-image: url('img/bg-quiero-saber-mas.png');

}
.filtro{
  list-style: none;
  width:100%;
  position: relative;

}
.filtro-section-index{
  width: 100%;
}
.filtro-marcas{
  background: #eaeaea !important;
  position: absolute;
  z-index: 10000;
  margin: 0;
  padding: 15px;
  visibility: hidden;
}
.ul-marcas{
  padding: 28px 20px 20px 10px;
  display: block !important;
  background: #eaeaea;
  position: absolute;
  z-index: 10;
  margin: 0;
}
.ul-marcas li{
  border-bottom: solid 1px #8b8b8b;
}
.filtro ul{
  display: flex;
  justify-content: flex-end;
  padding: 0;
  height: 111px;
  align-items: flex-end;
}
.filtro-menu ul{
  padding: 0;
  height: auto;
  background: white;
  width: 22%;
  text-align: center;
}
.filtro-valores{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 30px;
}
.filtro-index li{
  margin: 10px 0 -6px 0 !important;
  padding: 5px 14px !important;
}
.filtro li{
  font-size: 14px;
  margin: 10px 0 20px 0;
  font-weight: normal;
  color: #8b8b8b;
  list-style: none;
  padding: 5px 35px;
}
.menu-responsive{
  list-style: none;
  color: white;
  font-size: 20px;
}
.menu-responsive::before{
  font-family: 'fontawesome';
  content: '\f0c9';
}
/*/section-iluminarias*/
/*bnt*/
.btn-container{
  display: flex;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
}
.btn{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.btn-1{
  border: solid 2px #238741;
  border-radius: 30px;
  padding: 10px 20px;
  color: #238741;
  text-decoration: none;
  cursor: pointer;
  background: white;
  font-weight: 600;
}
.btn-2{
  border: solid 2px white;
  border-radius: 30px;
  padding: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.btn-3{
  color: #8b8b8b;
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
  padding: 4px;
}
.btn-3:focus{
  outline: none;
}
.btn-4{
  border: solid 2px white;
  border-radius: 30px;
  padding: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background: #238741;
  display: inline-block;
}
.btn-5{
  border: solid 2px #238741;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  background: #238741;
  display: inline-block;
}
.btn-6{
  color: #8b8b8b;
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
}
.btn-6:hover{
  color: #238741;
}
.btn-7{
  border: solid 2px white;
  padding: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background: #238741;
  display: inline-block;
}
.btn-3:hover{
  border: solid 2px #238741;
  border-radius: 10px;
  padding: 4px;
  color: #238741;
  text-decoration: none;
}
.btn-3:active{
  border: solid 2px #238741;
  border-radius: 10px;
  padding: 4px;
  color: #238741;
  text-decoration: none;
}

/*/btn*/
/*section-quiere-saber-mas*/
.section-quiere-saber-mas{
  background-image: url('img/bg-quiero-saber-mas.png');
  text-align: center;
  color: white;
  padding: 1%;
}
.nuestros-clientes{
  background: url('img/bg-testimonio.png');
  background-size: cover;
}
.section-quiere-saber-mas-diagramado{
  width: 50%;
  padding: 40px 0;
}
.titulo{
   font-size: 25px;
   font-weight: normal;
   text-transform: uppercase;
   margin: 0;
}
.titulo-contacto{
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
.titulo-modal{
   font-size: 25px;
   font-weight: normal;
   margin: 0;
}
.titulo-accsesorios{
  font-size: 30px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
}
.background-items{
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.titulo-nuestros-servicios{
  color: #505050;
  font-size: 25px;
  font-weight: normal;
}
.subtitulo{
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 0;
}
.subtitulo-accsesorios{
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 0;
  color: white;
  font-style: italic;
}
/*/section-quiere-saber-mas*/
.linea{
  border-bottom: solid white 2px;
  width: 34%;
  margin: 4px 35%;
}
.linea1{
  border-bottom: solid #238741 2px;
  width: 34%;
}
.linea2{
  border-bottom: solid #238741 2px;
  width: 34%;
  margin-left: 66%;
}

/*section-nuestros-servicios-diagramado*/
.section-nuestros-servicios{
  padding: 50px 0;
}
.section-nuestros-servicios-diagramado{
  text-align: center;
}
.section-nuestros-servicios-items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section-nuestros-servicios-text{
  display: flex;
  justify-content: center;
}
/*/section-nuestros-servicios-diagramado*/
/*call to action*/
.call{
    text-align: center;
    background: orange;
    color: white;
    padding: 20px;
}
/*/call to action*/
/*form*/
.input-diagramado{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.input{
  width: 29%;
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 25px;
  border: solid #b0b0b0 1px;
}
.input-mensaje{
  width: 92%;
  margin-right: 5px;
  padding: 10px;
  border-radius: 10px;
  border: solid #b0b0b0 1px;
  height: 60px;
}
/*/form*/
/*footer*/
.footer-diagramado{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-col-1{
  width: 30%;
}
.lk a:hover{
  color: #238741 !important;
}
.lk{
  list-style: none;
  text-decoration: none;
  padding: 0;
  color: white;
  display: block;
}
.nombre-cliente{
  color: #b5b5b5;
}

/*/footer*/

/*footer*/
.footer{
  background: #393939;
  color: white;
  padding: 40px 0;
  font-size: 18px;
  font-weight: 100;
}
/*/footer*/
.titulo-items{
  font-size: 16px;
  color: #6e6e6e;
  font-weight: normal;
  margin: 16px 0;
}
.parrafo{
  font-size: 16px;
  color: #787878;
  font-weight: 100;
  text-align: justify;
}
.parrafo-contacto{
  font-size: 16px;
  color: #787878;
  font-weight: 100;
  margin-bottom: 5px;
}
.parrafo-contacto::placeholder{
  color: gray;
}
.parrafo-1{
  font-size: 16px;
  color: white;
  font-weight: 100;
}
.items{
  width: 210px;
  margin-right: 20px;
  margin-top: 40px
}
.formulario{
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
.formulario-index{
  text-align: center;
  margin-top: 55px;
  margin-bottom: 38px;
}

.creditos{
  color: white;
  display: flex;
  justify-content: center;
}

.tag-orden{
  display: flex;
  width: 301px;
  flex-wrap: wrap;
}
.tag{
  padding: 5px;
  background: #4b4b4b;
  margin: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
}
.tag:hover{
  background: #238741;
}
.contenido-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* width: auto; */
  margin: auto;
  padding: 20px;
  background: blue;
  position: absolute;
  height: 27%;
}
.contenido-items-detalle{
  width: 210px;
  height: 210px;
  background: red;
  margin: 10px;
}
.iluminarias{
  background: yellow;
}
.line-titulo::before{
  font-family: 'fontawesome';
  content: "\f068\f068\f068\f068";
  color: white;
  margin: 0 5px;
}
.line-titulo::after{
  font-family: 'fontawesome';
  content: '\f068\f068\f068\f068';
  color: white;
  margin: 0 5px;
  width: 20px;
}
.line::before{
  font-family: 'fontawesome';
  content: "\f068\f068\f068\f068\f068";
  color: #238741;
  margin: 0 5px;
}
.line::after{
  font-family: 'fontawesome';
  content: '\f068\f068\f068\f068\f068\f068';
  color: #238741;
  margin: 0 5px;
  width: 20px;
}
.line-after::after{
  font-family: 'fontawesome';
  content: '\f068\f068\f068\f068\f068';
  color: #238741;
  margin: 0 5px;
  width: 20px;
}
.mas::after{
  font-family: 'fontawesome';
  content: ' \f055';
  color: white;
  font-size: 20px;
}
.mas-1::after{
  font-family: 'fontawesome';
  content: '\f055';
  color: #238741;
  font-size: 20px;
}

.facebook::before{
  font-family: 'fontawesome';
  content: '\f09a ';
  font-size: 18px;
  margin-right: 10px;
}
.twitter::before{
  font-family: 'fontawesome';
  content: '\f099';
  font-size: 18px;
  margin-right: 10px;
}
.instagram::before{
  font-family: 'fontawesome';
  content: '\f16d';
  font-size: 18px;
  margin-right: 10px;
}
.google::before{
  font-family: 'fontawesome';
  content: '\f0d5';
  font-size: 18px;
  margin-right: 10px;
}
.youtube::before{
  font-family: 'fontawesome';
  content: '\f16a';
  font-size: 18px;
  margin-right: 10px;
}
/*menus responsive*/
/*menus responsive*/
/*página servicios*/
.pagina-servicio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagina-servicio-right{
  background: #f9f9f9;
  text-align: right;
  flex-direction: row-reverse;
  justify-content: space-between;
  display: flex;
}

.pagina-servicio-texto{
  width: 50%;
  padding: 10px;
}
/*/paginas servicios*/
/*contacto*/
.contacto-diagramado{
  display: flex;
}
.contacto-col-1{
  width: 40%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 27px 0;
}
.contacto-col-2{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  flex-direction: column;
}
.input-form{
  width: 100%;
  margin-bottom: 15px;
  height: 35px;
  background: #f9f9f9;
  border: none;
  font-style: italic;
  padding-left: 10px;
}
.input-form-texto{
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  background: #f9f9f9;
  border: none;
  font-style: italic;
  padding-left: 10px;
}
.form-contacto{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.texto-contacto{
   padding: 0 0 7%;
   width: 80%;
}
.margin-form{
  width: 250px;
}
/*contacto*/
.section-contacto{
  background: #f9f9f9;
}
.form-diagramado{
  display: flex;
}
.form-col{
  width: 50%;
}
.form-col-1{
  width: 50%;
}
.contacto-input{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  height: 80%;
}
.contacto-list{
  width: 50%;
}
.contacto-input-detalle{
  margin: 10px 29px;
  background: white;
}
.titulo-page{
  background: #238741;
  color: white;
  text-align: center;
  padding: 50px 0;
  font-weight: 400;
}
.titulo-page div div{
  font-weight: 100;
  font-style: italic;
}
.margin h1{
  margin: 0;
  font-weight: 600;
}
.menu{
  display: flex;
  list-style: none;
  padding: 0;
}
.menu li{
  margin-right: 20px;
}
.menu-izq{
  display: flex;
  list-style: none;
}
.menu-izq li{
  margin-right: 10px;
}
.menu-der{
  display: flex;
  list-style: none;
  margin-right: 10px;
}
.section-nuestros-servicios-page{
  padding-top: 115px;
}
/*accesorios*/
.section-accesorios{
  background: #9c9c9c;
  display: flex;
  background-image: url('img/luminarias-valvulas.png');
  background-size: cover;
}
.section-accesorios-texto{
  text-align: center;
  padding: 40px 0;
  padding-top: 163px;
}
.section-recuadro-accesorios{
  display: flex;
  background: #eaeaea;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
.section-recuadro-somos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-recuadro-index{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.accesorio-item{
  margin: 30px 6px 0;
  position: relative;
}
.tuberias-item{
  margin: 30px 6px 0;
  position: relative;
}
.valvulas-item{
  margin: 30px 6px 0;
  position: relative;
}
/*.background-section{
  height: 67vh;
}*/
.texto-accesorios{
  background: #238741;
  padding: 5px 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.item-accesorio{
  width: 200px;
  height: 200px;
  border: solid 1px #d7d7d7;
}
.item-accesorio:hover{
  border: solid 1px #238741;
}
/*/accesorios*/
/*modal*/
.modal-background{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.modal-show{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.content-modal-text{
  width: 60%;
}
.modal-content{
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
  width: 50%;
  position: relative;
}
.modal-texto{
  width: 350px;
}
.cerrar{
  position: absolute;
  top: -2px;
  right: -1px;
}
.modal-img{
  border: solid 1px gray;
}
.modal-texto{
 /*padding: 0 45%;*/
}
/*/modal*/
.alto-accesorios{
  height: 460px;
}
.section-somos{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-between;
}
.img-quienes-somos{
  width: 400px;
}
.section-tuberia{
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
  justify-content: space-between;
}
.parrafo-somos{
  width: 57%;
}
.parrafo-tuberia{
  width: 500px;
}
.slider-tuberia{
  width: 500px;
}
.container-somos{
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.margin-somos{
  margin: auto;
  width: 85%;
  padding: 50px;
}
/*validacion*/
.error{
    background-color: #BC1010;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    padding: 6px 12px;
    position: absolute;
}
.error:before{
    border-color: transparent #BC1010 transparent transparent;
    border-style: solid;
    border-width: 6px 8px;
    content: "";
    display: block;
    height: 0;
    left: -16px;
    position: absolute;
    top: 8px;
    width: 0;
}
.alto-valvulas{
  height: 641px !important;
}
/*/validacion*/
.container-slider-evento{
  padding: 60px 0;
}
.link li{
  padding: 9px;
}
.hidden{
  display: none;
}
.titulos-container{
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 70px;
}
.logo{
  width: 180px;
}
.tag li:hover{
  color: white;
}
.container-background{
  background: #f9f9f9;
}
input style
{
  color: red;
}
.comunicate{
  position: absolute;
  top: 43px;
  right: 21px;
  color: #757272;
}

@media screen and (max-width: 810px){
.section-accesorios-texto{
  margin-top: 0px;
}
  .nav-ul{
    justify-content: flex-start;
  }
  .item-accesorio{
    width: 200px;
    height: 200px;
  }
  .menu{
    display: block;
  }
  .filtro{
    width: 100%;
  }

  .mr{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
  .nav{
    display: block;
  }
  .input{
    width: 353px;
  }
  .menu li{
    margin-bottom: 5px;
  }
  .filtro ul{
    height: 171px;
  }
}

@media screen and (max-width: 410px) {
/*.section-recuadro-accesorios{
    display: block;
}*/
.comunicate{
  top: 112px;
}
.section-accesorios-texto{
  margin-top: 0px;
}
.filtro ul{
  height: auto;
  width: auto;
}
.item-accesorio{
  width: 300px;
  height: 300px;
}
.margin-somos{
  margin: auto;
  width: 70%;
  padding: 0px;
}
.section-nuestros-servicios-page {
    padding-top: 187px;
}

.section-somos{
  width: 100%;
  justify-content: center;
  padding: 0;
}
.img-quienes-somos{
  width: 100%;
}
.alto-accesorios{
  /*margin-bottom: 1200px;*/
  height: 3760px !important;
}
.alto-valvulas {
  height: 5622px !important;
}
.pagina-servicio-texto{
  width: 100%;
  margin-bottom: 30px;
}
.pagina-servicio-right{
  background: #f9f9f9;
  text-align: right;
  justify-content: space-between;
  flex-direction: column;
}
.img-servicios{
    width: 300px;
}
.contacto-col-2{
  width: 100%;
  margin-top: 50px;
}
.logo{
  width: 150px;
}
.menu{
  display: block;
}
.footer-col-1{
    width: 90%;
}
.section-iluminarias-diagramado{
  justify-content: center;
}
.section-iluminarias-productos{
  justify-content: center;
}
.nav{
  display: block;
}
.contacto-col-1{
  width: 100%;

}
}
